*.o
*.d
*.a
*.ld
*.c.obj
*.obj
*.orig
*.rej
*.lib
*.tmp
*.json
*.crf
*.sct
*.dep
*.htm
*~
*.hex
*.axf
*.lst
*.lnp
*.map
*.Bak
/nRF5_SDK_15.0.0_a53641a/PROJ/ble_peripheral/evnt_bg95/pca10040/s132/arm5_no_packs/_build/
*.Administrator
*.uvoptx
*.uvprojx
*.uvguix.bob
.#*
*#
.emacs.desktop*
TAGS*~
git-src
*.hex
*.bin
*.zip
**/.git